/*Nav*/
nav {
z-index: 1;
padding: 0vw;

background-color: #fbff00;
border-radius: 360px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
border: 2px solid rgba(101, 255, 237, 0.31);

justify-content: center;
}
ul {
  list-style-type: none;
}

p {
  color: white;
  text-decoration: none ;
  padding-left: 30px;
  font-size: 3rem;
}

nav h1 {
  margin-left: 500px;
  font-size: 60px;
  margin-top: -110px;
}

@media all and (max-width: 1200px) { 
p {
  padding-top: 5px;
  padding-left: 5px;

}
}