.temp {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.label {
	font-size: 4vw;
	font-weight: 300;
	color: #ffffff50;
}

.label,
.value {
	text-align: left;

}

.value {
	font-size: 3vw;
	font-weight: 100;
	color: #fffffff6;

}
@media all and (max-width: 780px) {
.label {
	font-size: 10vw;
}
.value {
	font-size: 9vw;
}

}